body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
}
#map {
	position: absolute;
	width:100%;
	height:100vh;
	padding:0;
	margin:0;
	overflow-y: hidden;
	overflow-x: hidden;
}
.crimea {
	background-image: url(/images/svg/crimea.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 64px;
	height: 64px;
}
.pdp {
	background-image: url(/images/png/pdp.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 64px;
	height: 64px;
}
.MON {
	background-image: url(/images/png/mon.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 92px;
	height: 64px;
}
.MAP {
	background-image: url(/images/svg/mapgeo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 92px;
	height: 64px;
}